
body {
    font-family: arial,verdana;
}

.heading {
    text-align: center;
    background-color: thistle;
    padding-bottom: 15px;
}

.heading h1 {
    margin: 0;
}

.topbar button {
    outline: none;
    padding: 7px;
    font-size: 15px;
    margin: 10px;
}

.child button {
    padding: 5px 20px;
    font-size: 15px;
}

.child div {
    margin: 10px;
}

.childwrapper {
    padding: 0 0 60px 10px;
}

.view1 a {
    margin-left: 50px;
}

.view2 textarea {
    width: 90%;
    height: 300px;
    font: normal 16px monospace;
    line-height: 1.4em;

}

.topbar .selected {
    background-color: #b2e0ff;
}

.inputbox {
    background-color: #d5dffb;
    border: 1px solid #888;
    width:500px;
    padding:15px;
}

.childwrapper label {
    display: inline-block;
    width: 140px;
}

.vlist {
    float: left;
    height: 500px;
    padding-left: 20px;
}

.vlist > div:first-child {
    font-weight: bold;
}

.vlist > div:nth-child(2) {
    overflow-y: scroll;
    height: 400px;
    padding: 2px;
}

.vlist div div {
    border: 1px solid gray;
    margin: -1px 3px;
    padding: 4px;
    min-width: 200px;
}

